.background{
    width: 90%
}
.wrapper{
    display: flex;
    justify-content: space-between;
}

.login-container{
    width: 70%;
    margin-left: 5rem;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0px 2px 5px 0px #afa9a9;
    background-color:rgb(10, 10, 48) ;
    color:white;
    border-radius: .5rem;
}
.google-login{
    background-color: rgb(31 40 84);
    color:#fff;
    font-size: 1rem;
    font-weight: bold;
}