
.post{
    background-color: #f9f9f9;
    margin-bottom: .8rem;
    box-shadow: 0px 0 3px 0px #b9a1a1;
}


.new-post-form::placeholder{
    font-size: 1.5rem;
    color:rgb(185, 179, 179);
    text-align:center;  
}

.post-image{
    margin-top:.5rem;
    max-width: 45vw;
    max-height: 60vh;
   
    
}
.image-preview{
    max-width: 20vw;
}
.new-status-form{
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0 3px 0px #b9a1a1;
    padding: 10px;
}
.post-description{
    text-align: left;
    margin-top: 1em;
    padding: 0 1em 0 1em;

    
}

.post-options{
    text-align: right;
}

.like-button-click-effect{
  animation: wobble 0.5s ease infinite;
}

@keyframes wobble {
  0%, 100% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.25) rotate(-5deg);
  }
  30% {
    transform: scale(0.75) rotate(5deg);
  }
  45% {
    transform: scale(1.15) rotate(-3deg);
  }
  60% {
    transform: scale(0.95) rotate(3deg);
  }
  100% {
    transform: scale(1);
  }
}
.post-owner{
  text-align: center;
}

.post-owner-img{
  height: 50px;
  width: 50px;
  border-radius: 100px;
  object-fit:cover;
}

.comment-text{
  background-color: #f5f5f5;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px 0px grey;
  font-size: .9rem;
  
 

}
/* Custom modal styles */
.custom-modal {
  max-height: auto;
  /* Adjust the maximum height as needed */
  
}
.comments-container{
  max-height: 300px;
  overflow-y: auto;
}



/* Add space between comments */
.comment {
  margin: 10px 0;
}
