
.post{
    background-color: #f9f9f9;
    margin-bottom: .8rem;
    box-shadow: 0px 0 3px 0px #b9a1a1;
}

.new-post-form{
    background-color: rgb(255, 255, 255);
}

.new-post-form::placeholder{
    font-size: 1.5rem;
    color:rgb(185, 179, 179);
    text-align:center;  
}

.post-image{
    margin-top:1rem;
    max-width: 40vw;
    max-height: 70vh;
   
    
}
.image-preview{
    max-width: 20vw;
}
.new-status-form{
    margin-top: 2rem;
    background-color: rgb(239 239 239);
    box-shadow: 0px 0 3px 0px #b9a1a1;
    padding: 10px;
}
.post-description{
    font-size: 1.1rem;
    margin-top: .5rem;
}

.post-options{
    text-align: right;
}