.posts-container{
    background-color: rgb(247 247 247)
}

.post{
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    box-shadow: 0px 0 5px 0px #b9a1a1;
}

.new-post-form{
    background-color: rgb(255, 255, 255);
}

.new-post-form::placeholder{
    font-size: 1.5rem;
    color:rgb(185, 179, 179);
    text-align:center;  
}

.post-image{
    margin-top:1rem;
    width: 100%;
   
}