.chat-container{
    max-height: 80vh;
    overflow-x: auto;
    box-shadow: 0px 0 3px #8a8989;
}
.followers-avatar{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.list-unstyled{
    background-color: #fff;
}   


#chat2 .form-control {
    border-color: transparent;
}

#chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

#chat2 .card-body {
    position: relative;
    height: 60px;
    overflow-y: auto;
    padding: 5px;
}

#chat2 {
    max-height: 80vh;
}

#chat2 .card-footer {
    padding-bottom: 60px;
}

.followers-container{

   max-height: 80vh;
   overflow-y:scroll;
 
}
@media (max-width: 768px) {
    .followers-container {
        max-height: 100vh;
    }
    #chat2 {
        max-height: 100vh;
    }

    #chat2 .card-footer {
        padding-bottom: 10px;
    }
}