.sidebar-container{
    width: 20vw;
    position: fixed;
    font-size: 1.1rem;
    box-shadow: 1px 1px 1px 0px #ebe0e0;
    height: 100%;

}
.sidebar-container ul,li{
    list-style-type: none;
    padding: 1rem;
}

