.db-sidebar-container {
    background-color: #1c212eff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    color: #fff;
    font-size: 1.2rem;
    position: fixed;
}
.db-sidebar-menu ul{
    margin: 0;
}
.db-sidebar-menu li{
   
    margin-top: 1rem;
    transition: transform 0.3s;
}


.db-sidebar-menu li:hover{
    background-color: #ff4136ff;
    transform: scale(1.1);
}

.db-sidebar-logo img{
    width: 10vw;
}